/* Generics */

.all-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.progess-section,
.content-section {
  padding: 0.75em 1.5em;
}
/*
.content-section {
  min-height: 650px;
}*/

.heading {
  margin: 2em 0;
}

.controls {
  margin: 30px 0;
}

.right-column {
  border-left: 1px solid #dbdbdb;
}

.ident-1 {
  display: block;
  padding-left: 15px; 
}

@media (max-width: 768px) {
  .tabs:not(:last-child) {
    margin: 0;
  }

  .tabs ul {
    flex-flow: column;
  }

  .tabs li {
    width: 100%;
  }

  .tabs a {
    padding: 0.2em 0em;
  }

  .heading {
    margin: 0;
  }
}